<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.NoteBook.dao.CommunityMapper">
    <insert id="insertCommunity" parameterType="map">
        INSERT INTO TB_COMMUNITY (
              USER_ID
            , USER_NAME
            , COMMU_TITLE
            , COMMU_CONTENT
            <if test="btnCheck1.equals('on')">
                , CODE_BOOK
            </if>
            <if test="btnCheck2.equals('on')">
                , CODE_STUDY
            </if>
            <if test="btnCheck3.equals('on')">
                , CODE_GOOD
            </if>
            <if test="btnCheck4.equals('on')">
                , CODE_BAD
            </if>
            <if test="btnCheck5.equals('on')">
                , CODE_MAP
            </if>
            <if test="btnCheck6.equals('on')">
                , CODE_COMPARE
            </if>
        ) VALUES (
            #{userId}
            , #{userName}
            , #{title}
            , #{content}
            <if test="btnCheck1.equals('on')">
                , 1
            </if>
            <if test="btnCheck2.equals('on')">
                , 2
            </if>
            <if test="btnCheck3.equals('on')">
                , 3
            </if>
            <if test="btnCheck4.equals('on')">
                , 4
            </if>
            <if test="btnCheck5.equals('on')">
                , 5
            </if>
            <if test="btnCheck6.equals('on')">
                , 6
            </if>
        )
    </insert>

    <!-- 게시판 리스트 조회 -->
    <select id="getCommunityList" resultType="map">
        SELECT TC.*,
        (SELECT count(tcc.COMMUNITY_IDX) comentNum FROM TB_COMMUNITY_CHAT tcc WHERE tcc.COMMUNITY_IDX = TC.COMMU_IDX) comentNum
        FROM TB_COMMUNITY TC
        <if test="tagName != null and tagName.equals('bookTag')">
            WHERE TC.CODE_BOOK = 1
        </if>
        <if test="tagName != null and tagName.equals('studyTag')">
            WHERE TC.CODE_STUDY = 2
        </if>
        <if test="tagName != null and tagName.equals('goodTag')">
            WHERE TC.CODE_GOOD = 3
        </if>
        <if test="tagName != null and tagName.equals('badTag')">
            WHERE TC.CODE_BAD = 4
        </if>
        <if test="tagName != null and tagName.equals('mapTag')">
            WHERE TC.CODE_MAP = 5
        </if>
        <if test="tagName != null and tagName.equals('compareTag')">
            WHERE TC.CODE_COMPARE = 6
        </if>
        ORDER BY TC.COMMU_DATE DESC
        <if test="startCnt != null and offset != null">
            LIMIT #{startCnt, jdbcType=INTEGER}, #{offset, jdbcType=INTEGER}
        </if>
        <if test="startCnt == null and offset != null">
            LIMIT 0, #{offset, jdbcType=INTEGER}
        </if>
    </select>

    <!-- 게시판 count -->
    <select id="getCommunityCnt" resultType="int">
        SELECT
            count(*)
        FROM
            TB_COMMUNITY
    </select>

    <!-- 게시판 상세 조회 -->
    <select id="getCommunityDetail" resultType="map">
        SELECT *
        FROM TB_COMMUNITY
        WHERE COMMU_IDX = #{commuIdx}
    </select>

    <!-- 게시판 수정 -->
    <update id="updateCommunity">
        UPDATE
            TB_COMMUNITY
        SET
            COMMU_TITLE = #{title}
            , COMMU_CONTENT = #{content}
            , CODE_BOOK = #{btnCheck1}
            , CODE_STUDY = #{btnCheck2}
            , CODE_GOOD = #{btnCheck3}
            , CODE_BAD = #{btnCheck4}
            , CODE_MAP = #{btnCheck5}
            , CODE_COMPARE = #{btnCheck6}
        WHERE COMMU_IDX = #{commuIdx}
    </update>

    <insert id="insertCommunityChat" parameterType="map">
        INSERT INTO TB_COMMUNITY_CHAT (
            COMMUNITY_IDX
            , USER_ID
            , USER_NAME
            , CHAT_CONTENT
        ) VALUES (
            #{communityIdx}
            , #{userId}
            , #{userName}
            , #{chatContent}
        )
    </insert>

    <select id="getCommunityChat" resultType="map">
        SELECT *
        FROM TB_COMMUNITY_CHAT
        WHERE USER_ID = #{userId} AND COMMUNITY_IDX = #{communityIdx}
        ORDER BY CHAT_DATE DESC LIMIT 1
    </select>

    <select id="getCommunityChatList" resultType="map">
        SELECT *
        FROM TB_COMMUNITY_CHAT
        WHERE COMMUNITY_IDX = #{commuIdx}
    </select>

    <delete id="deleteChat" parameterType="map">
        DELETE FROM TB_COMMUNITY_CHAT
        WHERE COMMUNITY_CHAT_IDX = #{chatIdx}
    </delete>

    <!-- 게시판 삭제 -->
    <delete id="deleteCommunity" parameterType="map">
        DELETE FROM TB_COMMUNITY
        WHERE COMMU_IDX = #{commuIdx}
    </delete>

    <delete id="deleteCommunityChatAll" parameterType="map">
        DELETE FROM TB_COMMUNITY_CHAT
        WHERE COMMUNITY_IDX = #{commuIdx}
    </delete>

    <select id="getTagCount" resultType="map">
        SELECT count(CODE_BOOK) bookNum,
               count(CODE_STUDY) studyNum,
               count(CODE_GOOD) goodNum,
               count(CODE_BAD) badNum,
               count(CODE_MAP) mapNum,
               count(CODE_COMPARE) compareNum
        FROM TB_COMMUNITY
    </select>

    <select id="getSubCommunity" resultType="map">
        SELECT *
        FROM TB_COMMUNITY
        ORDER BY commu_date desc
        LIMIT 5
    </select>

</mapper>