<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.NoteBook.dao.CommunityMapper">

    <insert id="insertCommunity" parameterType="map">
        INSERT INTO TB_COMMUNITY (
              USER_ID
            , USER_NAME
            , COMMU_TITLE
            , COMMU_CONTENT
            <if test="btnCheck1.equals('on')">
                , CODE_BOOK
            </if>
            <if test="btnCheck2.equals('on')">
                , CODE_STUDY
            </if>
            <if test="btnCheck3.equals('on')">
                , CODE_GOOD
            </if>
            <if test="btnCheck4.equals('on')">
                , CODE_BAD
            </if>
            <if test="btnCheck5.equals('on')">
                , CODE_MAP
            </if>
            <if test="btnCheck6.equals('on')">
                , CODE_COMPARE
            </if>
        ) VALUES (
            #{userId}
            , #{userName}
            , #{title}
            , #{content}
            <if test="btnCheck1.equals('on')">
                , 1
            </if>
            <if test="btnCheck2.equals('on')">
                , 2
            </if>
            <if test="btnCheck3.equals('on')">
                , 3
            </if>
            <if test="btnCheck4.equals('on')">
                , 4
            </if>
            <if test="btnCheck5.equals('on')">
                , 5
            </if>
            <if test="btnCheck6.equals('on')">
                , 6
            </if>
        )
    </insert>

    <select id="getCommunityTag" resultType="map">
        SELECT TAG_NAME
        FROM TB_COMMU_TAG
        WHERE TAG_NUMBER = #{tagNumber}
    </select>

    <!-- 게시판 리스트 조회 -->
    <select id="getCommunityList" resultType="map">
        SELECT *
        FROM TB_COMMUNITY
        <if test="">
            WHERE
        </if>
    </select>

    <!-- 게시판 count -->
    <select id="getCommunityCnt" resultType="int">
        SELECT
            count(*)
        FROM
            TB_COMMUNITY
    </select>

    <!-- 게시판 상세 조회 -->
    <select id="getCommunityDetail" resultType="map">
        SELECT *
        FROM TB_COMMUNITY
        WHERE COMMU_IDX = #{commuIdx}
    </select>

    <!-- 게시판 수정 -->
    <update id="updateCommunity">
        UPDATE
            TB_COMMUNITY
        SET
            COMMU_TITLE = #{commuTitle}
            , COMMU_CONTENT = #{commuContent}
            , COMMU_TAG = #{commuTag}
        WHERE COMMU_IDX = #{commuIdx}
    </update>

    <!-- 게시판 삭제 -->
    <delete id="deleteCommunity" parameterType="map">
        DELETE FROM TB_COMMUNITY
        WHERE COMMU_IDX = #{commuIdx}
    </delete>

</mapper>